<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MenuMapper">
    <select id="selectMenuVOList" resultType="com.example.demo.vo.MenuVO">
        SELECT *
        FROM menus
        WHERE status = 1
        order by menus.sort_num desc, id desc;
    </select>
</mapper>